@import url("https://fonts.googleapis.com/css2?family=Caramel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f22f46;
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  height: 80px;
  width: 100vw;
  background-color: white;
}
.navbar-brand {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 700;
}
.nav-item {
  margin-left: 30px;
}
.nav-link {
  font-size: 20px;
  color: black;
}
#btn-div {
  margin-right: 10px;
}
.res-btn {
  color: var(--primary-color);
  background-color: white;
  padding: 6px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
.res-btn:hover {
  color: white;
  background-color: var(--primary-color);
}

/* About Secton */
#about {
  height: 650px;
  padding: 150px;
}
#intro {
  max-width: 700px;
  margin: auto;
}
#intro ul {
  list-style: none;
}
#intro h1 {
  font-size: 120px;
  font-family: "Caramel", cursive;
}
#name {
  font-size: 55px;
  color: var(--primary-color);
}
#summary {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

/* Skills Section */
#skills {
  padding: 50px 100px;
  background-color: rgba(0, 0, 0, 0.02);
}
#skills .col {
  padding: 20px;
}
#skills-head {
  text-align: center;
  margin-bottom: 40px;
  color: gray;
}
#skills-head span {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}
#skills .col ul {
  list-style: none;
}
#skills i {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.7);
}
#skills i:hover {
  color: black;
}
.skill-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

/* Thought Section */
#thought {
  text-align: center;
}
#th-div {
  max-width: 800px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#th {
  font-size: 35px;
  color: var(--primary-color);
  font-family: "Charmonman", cursive;
}
#by {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin-top: 10px;
}

/* Projects Section */
#projects {
  background-color: rgba(0, 0, 0, 0.02);
  padding-bottom: 100px;
}
#proj-head {
  text-align: center;
  padding: 20px;
  color: rgba(0, 0, 0, 0.8);
}
#projects .col {
  margin-top: 50px;
}
.proj-img-l {
  width: 400px;
}
#projects img {
  width: 450px;
  height: 350px;
  border: 1px solid white;
  border-radius: 10px;
}
.proj-summary-l {
  position: relative;
  margin-left: 360px;
  margin-top: -70px;
  padding: 10px;
  max-width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.head {
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.75);
}
.proj-summary {
  color: rgba(0, 0, 0, 0.7);
}
.proj-links {
  margin-top: 10px;
}
.proj-links i {
  color: black;
  font-size: 30px;
}
.right {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.proj-img-r {
  width: 450px;
}
.proj-summary-r {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-top: -60px;
  margin-right: 360px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Footer Section */
footer {
  background-color: rgba(242, 47, 70, 0.95);
  height: 250px;
}
#con-head {
  font-family: "Satisfy", cursive;
  font-style: italic;
  color: rgba(255, 255, 255, 0.95);
  margin-top: 40px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.con-link {
  margin-left: 20px;
}
.con-link i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.95);
}
.copy {
  color: white;
  margin-top: 75px;
}

@media screen and (max-width: 992px) {
  #about {
    height: 550px;
  }
  #intro h1 {
    font-size: 85px;
  }
  #name {
    font-size: 45px;
  }
  #summary {
    font-size: 18px;
  }
  #th {
    font-size: 30px;
  }
  #projects img {
    width: 350px;
    height: 250px;
  }
  .summ {
    width: 250px;
  }
  .summ h2 {
    font-size: 25px;
  }
  .summ p {
    font-size: 15px;
  }
}

@media screen and (max-width: 710px) {
  #projects img {
    width: 250px;
    height: 150px;
  }
  .summ {
    width: 150px;
  }
  .summ h2 {
    font-size: 15px;
  }
  .summ p {
    font-size: 5px;
  }
}
